<head>
<title>Need some data</title>
</head>
<style>
body {
  background-color: lightblue;
}
input[type=submit] {
  width: 25%;
  background-color: green;
  color: red;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  input[type=number] {
    width:100
  }
  H2 { text-align: center }
  H1 { text-align: center }
    form { text-align: center }
</style>

<body>
<h1>Hello there!</h1>
<% if @name.nil?%>
<h2>What is your name?</h2>

<form action="/bday" method="post">
  <input type="text" name="name" required><br>
  <h2>When is your Birthday?</h2><br>
  day:<input type="number" name="day" min="1" max="31"> month: 
  <select name="month">
    <option value=1>January</option>
    <option value=2>February</option>
    <option value=3>March</option>
    <option value=4>April</option>
    <option value=5>May</option>
    <option value=6>June</option>
    <option value=7>July</option>
    <option value=8>August</option>
    <option value=9>September</option>
    <option value=10>October</option>
    <option value=11>November</option>
    <option value=12>December</option>
  </select><br>
  <input type="submit" value="Go!">
</form>

<% else%>
<h2>Hi <%=@name%>,<br>
Your Birthday is on: <%=@day%>.<%=@month%>
</h2>
<% @name = nil%>
<form action='/your-bday2' method="get">
<input type="submit" value="Try again!">
<%end%>
